{% extends "base.html" %}
{% block content %}
    <!-- driver_list is the variable passed in containing the list of drivers -->
    <!-- Add code to display a list of drivers -->

    <h2>Driver List</h2>
    <table class="table ">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Surname</th>
            <th>Date Of Birth</th>
            <th>Age</th>
            <th>Caregiver</th>
            <th>Car</th>
        </tr>
        {% for driver in driver_list %}
            <tr>
                {% for field in driver %}
                    {% if loop.index ==5 %}
                        <td>{{ field }}</td>
                    {% else %}
                        <td>{{ field }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

{% endblock %}