{% extends "base.html" %}
{% block content %}

    <h1 style="text-align: center">Top5 Driver list</h1>
    <div id="myHBarPlot" style="width:100%; max-width:800px;margin-left: 30%"></div>

    <script>
        // Note SPACE after each fruit name so gap before horizontal bars
        const resultList = {{ resultsList | safe}};
        const bestDriverList = {{ bestDriverList | safe}};
        // REPLACE constants above with passed in variables.
        // Use the '|safe' Jinja filter to mark them as safe (prevents your data being html-escaped). eg,
        // var myList = {{ list_from_py | safe }}

        // Define graph data
        const data = [{x: resultList, y: bestDriverList, type: "bar", orientation: "h", marker: {color: "blue"}}];

        // Define graph layout. Excluded a y-axis title as fruit names are self-explanatory.
        const layout = {
            xaxis: {range: {{ range_list |safe }}, title: "cost"},
            title: "Top5 driver list"
        };

        // Display using Plotly
        Plotly.newPlot("myHBarPlot", data, layout);

    </script>

{% endblock %}

